<main class="container d-flex justify-content-center mt-5">
  <div class="row col-6 text-center">
    <form action="/login" method="POST">
      <h1 class="h3 m-4 fw-normal"> Account Login</h1>
      <div class="form-floating mb-4">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-5">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        {{#if errorMs}}
        <div class="alert alert-danger" role="alert">
          {{errorMs}}
        </div>
        {{/if}}
        <button class="btn btn-lg btn-primary " type="submit">Sign in</button>
      </div>
    </form>
  </div>
</main>